<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relevés ifHcOctetsin</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/get_data.js') }}"></script>
</head>
<body>
    <h1>affichage data</h1>
    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script>
      const ctx = document.getElementById('myChart');
      Creategraph(ctx);

    // Update the chart every 5 seconds
    setInterval(() => {
        Updategraph();
    }, 5000);
      /*
      sliceData()
        .then((labels, data) => {
          console.log("labels are : ", labels);
          console.log("datas are : ", data);
          
        });   
      */
      
    </script>

</body>
</html>
